@media screen and (min-width: 1000px) {
    body{
        display:flex;
        flex-direction:column;
        justify-content: center;
        width:50%;
        margin:auto;
    }
    .fa-plus-circle{
        float:right;
    }
    #mobile{
        display:none;
    }
    #desktop{
        padding: 50px;
        display:flex;
        flex-direction: row;
        margin:auto;
        background: url("../Photos/20161202_101925.jpg") no-repeat;
        background-size: cover;
        max-width: 100%;
    }
    #desktop img{
        width: 200px;
        height: 100px;
        max-width: 100%;
    }
    #deskMenu{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin:auto 20px;
        background-color: rgb(179,209,67 );
        
    }
    #deskMenu p{
        margin: auto 20px;
    }
    #deskButton{
        max-width:100%;
        height: 40px;
        margin:auto;
        background-color: rgb(252,183,49 );
    }
    #energieImg div{
        display:flex;
        flex-direction: row;
    }
    #produire{
        display:flex;
        flex-direction:row;
        justify-content: space-around;
    }
    #produire{
        display:flex;
        flex-direction:row;
        justify-content: space-around;
    }
    #pourquoi{
            display:flex;
            flex-direction:row;
            justify-content: space-around;
    }
    #actuContent{
        display:flex;
        flex-direction:row;
    }
    #actuDemarche{
        display:flex;
        flex-direction:row;
    }
    #actuInstallation{
        display:flex;
        flex-direction:row;
    }
    #installButton{
        margin-top: 20px;
    }
    #temoignagesContent{
    display:flex;
    flex-direction:row;
    }
    #follow{
        display:flex;
        flex-direction:row;
        justify-content: center;
    }
    #follow i{
        margin: 0px 15px;
    }
    #partenaires img{
        width: 7%;
    }
}